
/* Add your global styles here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  background-image: url('./assets/media/miaw.jpg');
  background-size: cover;
  min-height: 100vh;
}

