db.sqlite3
main/__pycache__/__init__.cpython-39.pyc
main/__pycache__/settings.cpython-39.pyc
main/__pycache__/urls.cpython-39.pyc
main/__pycache__/wsgi.cpython-39.pyc
mygoogle/__pycache__/__init__.cpython-39.pyc
mygoogle/__pycache__/admin.cpython-39.pyc
mygoogle/__pycache__/apps.cpython-39.pyc
mygoogle/__pycache__/models.cpython-39.pyc
mygoogle/__pycache__/serializer.cpython-39.pyc
mygoogle/__pycache__/urls.cpython-39.pyc
mygoogle/__pycache__/views.cpython-39.pyc
mygoogle/migrations/__pycache__/0001_initial.cpython-39.pyc
mygoogle/migrations/__pycache__/0002_delete_userprofile.cpython-39.pyc
mygoogle/migrations/__pycache__/0003_userprofile.cpython-39.pyc
mygoogle/migrations/__pycache__/0004_delete_userprofile.cpython-39.pyc
mygoogle/migrations/__pycache__/0005_userprofile.cpython-39.pyc
mygoogle/migrations/__pycache__/0006_alter_userprofile_picture.cpython-39.pyc
mygoogle/migrations/__pycache__/0007_delete_userprofile.cpython-39.pyc
mygoogle/migrations/__pycache__/0008_userrrr.cpython-39.pyc
mygoogle/migrations/__pycache__/0009_auto_20250208_0207.cpython-39.pyc
mygoogle/migrations/__pycache__/0010_auto_20250217_0148.cpython-39.pyc
mygoogle/migrations/__pycache__/__init__.cpython-39.pyc
run.sh
mygoogle/migrations/0011_alter_userprofile_profile_picture.py
mygoogle/migrations/__pycache__/0011_alter_userprofile_profile_picture.cpython-39.pyc
.DS_Store
__pycache__/
*.pyc


git add front/static/css/test.css
git add front/static/js/multiplayer.js
git add front/static/js/scores.js
git add front/static/js/training.js
git add .gitignore
git add front/static/.DS_Store
git add front/static/js/multiplayer\ copy.js
git add front/static/js/multiplayer3.js
git add back/media/ram1.jpg
git add back/media/ram2.png
git add back/media/ram3.png
git add back/media/ram4.jpg