* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.notification-container {
	display: none;
}

body {
    background-color: #1B3E46;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.faq_container
{
    padding: 10%;
    position: relative;
    color: #E5F690;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    max-height: 150vh;
}

.faq_header
{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    column-gap: 50px;
}

.questions{
    color: #10292F;
    background-color: #EFF3DD;
    border-radius: 15px;
    font-size: x-large;
    padding: 1%;
}

.faq_questions{
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.row1{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}
.row2{
    display: flex;
    flex-direction: row;
    column-gap: 50px; 
}
.row3{
    display: flex;
    flex-direction: row;
    column-gap: 50px;   
}

.faq_buttons{
    padding: 30px;
    min-width: 205px;
}
.faq_button{
    min-width: 60px;
    border-color:  3px solid #E5F690;
    text-align: center;
    bottom: 0; 
    left: 50%; 
    background-color: #10292F;
    color: #E5F690;
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateY(7px);
}

.faq_button:hover{
    background-color: #E5F690;
    color: #10292F;
}

.faq_questions{

}