body {
    background-color: #10292F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    border: solid 2px #E5F690;
    background-color: #C2E18B;
  }
  
  .title {
    font-size: 28px;
    color: #10292F;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 93%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    background-color: #1B3E46;
    color: #EFF3DD;
  }
  .form label .input1{
    width: 85%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    background-color: #1B3E46;
    color: #EFF3DD;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #EFF3DD;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  .form label .input1 + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #EFF3DD;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  .form label .input1:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  .form label .input1:focus + span,.form label .input1:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  .form label .input1:valid + span {
    color: green;
  }
  
  .submit {
      position: relative;
      border: 2px solid #E5F690;
      text-align: center;
      background-color: #10292F;
      color: #E5F690;
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 12px;
      font-size:medium; 
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 10px;
  }
  
  .submit:hover {
    background-color: #E5F690;
   color: #10292F;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }