* {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
}



body {
    background-color: #10292F;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contonair {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transform: translateY(299px); */
    width: 100%;
    max-width: 480px;
    padding: 60px;
    background-color: #8E995C;;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #0F1E26;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    color: #10292F;
    margin-bottom: 16px;
    text-align: center;
    position: relative;
}

h1::after {
    content: '';
    width: 50px;
    height: 3px;
    border-radius: 3px;
    background: #0F1E26;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

/* p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #444;
} */

.input-field {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.input-field i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #0F1E26;
}

input {
    background-color: #eaeaea;
    padding: 12px 40px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #0F1E26;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #0F1E26;
    box-shadow: 0 0 8px rgba(15, 30, 38, 0.3);
}

input::placeholder {
    color: #666;
}

button {
    color: white;
    background-color: #0F1E26;
    font-size: 15px;
    font-weight: bold;
    padding: 14px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #09141A;
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.95);
}

.btn-field {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-container svg {
    margin-left: 8px;
}

form p {
    font-size: 14px;
    color: #333;
}

form p a {
    text-decoration: none;
    color: #0F1E26;
    font-weight: bold;
}

form p a:hover {
    text-decoration: underline;
}
