body {

	background: #1B3E46;
}




.Tournament {
	padding-top: 1%;
	color: #1B3E41;
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

.TOURNAMENT_list, .TOURNAMENT_details {
	font-style: oblique;
	font-weight: bold;
	font-size: 500%;
	display: flex;
	flex-direction: column;

}


.TOURNAMENT_list{
	flex-basis: 51%;
	background-color: #EFF3DD;
	border-radius: 70px;
	padding: 2.5%;
	margin-right: -3%; 
	margin-left: 8%;
	z-index: 1;
	width: 100%;
}


.Champion {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 10%;
	/* padding-left: 3%; */
	/* padding-right: 3%; */
}

.ChampionTouranament  .verticalLine {
	display: flex;
	flex-direction: column;
	align-self: end;

}


.verticalLine {
	display: flex;
	background-color: black;
	height: 52%;
	width: 6px;
	content: "";
}

.ChampionTouranament {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: row;

}

.ChampionTouranament .Championfinal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 50%;

	height: 4%;
	align-items: center;
	background-color: black;
}

.FinalMatch {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	/* background-color: red; */
}


.FinalMatch .Championfinal {
	display: flex;
	align-items: start;

	justify-content: center;
	/* background-color: black; */
	
}

.line {
	display: flex;
	justify-content: center;
	/* background-color: red; */
	width: 100%;
	/* align-items: start; */

}


.TOURNAMENT_list img {
	display: flex;
	width: 80px;
	height: 80px;
	border-radius: 7%;
	border: 5px  #F27E20 solid;
}



.Player {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background-color: red; */
}

.Players {
	display: flex;
	flex-direction: row;
	width: 30%;
	justify-content: space-around;
	align-items: center;
	/* width: 53%; */
}


.Championfinal {
	display: flex;
	justify-content: space-around;
	/* position: relative; */
}


.vs {
	display: flex;
	width: 100%;
	/* width: 150%; */
	content: "";
	height: 4%;
	justify-content: space-around;
	background-color: black;
}


.FinalMatch .Championfinal {
	display: flex;
	justify-content: center;
	width: 6px;
	/* content: ""; */
	height: 150%; 
  	/* padding: 2px; */
	background-color: black;
}






.TOURNAMENT_details {
	display: flex;
	flex-direction: column;
	flex-basis: 36%;
	text-align: end;
	border: 5px  #E5F690 solid;
	background-color: #FFFFFF;
	padding: 2.5%;
	margin-right: 8%;
	position: sticky;
	border-radius: 70px;
}


.Matches {
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	padding-top: 10%;
	font-size: 25%;
	line-height: 30px;
	text-align: left;
	font-style: normal;
	font-family: Bai Jamjuree;
}

.TournamentFirst {
	display: flex;
	flex-direction: column;
	font-family: Bai Jamjuree;
	font-size: 120%;
	text-align: left;

}

.vs-text {
	display: flex;
	padding: 5%;
}


.vsMatch {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.tableMatches {
	display: flex;
	flex-direction: column;
}

.tournament-content,  .tournament-matches {
	display: flex;
	justify-content: space-between;
	width: 30%;
}

.tournament-content {
	display: flex;
	gap: 8%;
}

.tournament-content img {
	display: flex;
	width: 25%; 
    height: 25%; 
    border-radius: 100%; 
}

.tournament-matches {
	display: flex;
	flex-direction: column;

	font-family: Bai Jamjuree;
	width: 100%;
	font-size: 70%;
	
}

.level {
	display: flex;
	font-family: Bai Jamjuree;
	font-size: 100%;
	font-weight: 400;
	text-align: left;
}

.TournamentPrizes {
	display: flex;
	flex-direction: column;
	padding-top: 15%;
	padding-bottom: 3%;
	font-family: Bai Jamjuree;
	font-size: 120%;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
}

.prizes {
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	font-family: Bai Jamjuree;
	font-size: 100%;
	font-weight: 400;
	line-height: 25px;
}

.TournamentChampion, .PongClub, .TournamentParticipation {
	display: flex;
	padding-bottom: 3%;
}

.TournamentFinal {
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	padding-bottom: 3%;
	font-family: Bai Jamjuree;
	font-size: 120%;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
}

@media (max-width: 1604px) {
	.Tournament {
		display: flex;
		max-height: none;
		flex-direction: column;
		padding: 5% 2% 2% 0%;
		width: 100%;

		flex-wrap: wrap;
		position: sticky;
		font-size: 80%;
	}

	.TOURNAMENT_list {
		display: flex;
		width: 85%;
		padding-left: 10%;
		padding-right: 10%;

	}
	
	.TOURNAMENT_list img {
		width: 60px;
		height: 60px;
	}

	.verticalLine {
		display: flex;
		height: 40px;
		width: 0.3%;

	}
	
	.ChampionTouranament {
		display: flex;
		justify-content: center;
		align-items: start;
		width: 100%;

	
	}
	
	.ChampionTouranament .Championfinal {
		width: 49.5%;
		height: 2px;

	}

	.TOURNAMENT_details {
		display: flex;
		margin-top: 2%;
		margin-left: 8%;
		
	}

	.vs {
		height: 3%;

	}

	.FinalMatch .Championfinal {
		width: 3px;
	}
	
	.TOURNAMENT_list img {
		display: flex;

		border-radius: 7%;
		border: 4px  #F27E20 solid;
	}

	.Player {
		display: flex;
		padding-bottom: 10%;
	}

}

@media (max-width: 700px) {
	
	.Tournament {
		display: flex;
		max-height: none;
		flex-direction: column;
		padding: 5% 2% 2% 0%;
		width: 100%;

		flex-wrap: wrap;
		position: sticky;
		font-size: 50%;
	}

	.TOURNAMENT_list img {
		width: 30px;
		height: 30px;
	}

	.verticalLine {
		display: flex;
		height: 20px;
		width: 0.3%;

	}
	
	.TOURNAMENT_list img {
		display: flex;

		border-radius: 7%;
		border: 2px  #F27E20 solid;
	}
	

}
