asgiref==3.4.1  # مكتبة ASGI الخاصة بـ Django
attrs==21.4.0  # مكتبة لـ Python تتعلق بالتعامل مع السمات (Attributes)
autobahn==21.11.1  # مكتبة خاصة بالبروتوكولات في Python (WebSockets)
Automat==20.2.0  # مكتبة تساعد في تطوير أنظمة الحالت (State Machines)
backports.zoneinfo==0.2.1  # مكتبة لتوفير دعم المنطقة الزمنية في الإصدارات الأقدم من Python
cffi==1.15.0  # مكتبة لربط C و Python
channels==3.0.4  # مكتبة لتعامل مع WebSockets في Django
constantly==15.1.0  # مكتبة لتعريف وتغيير القيم باستمرار في Python
cryptography==36.0.1  # مكتبة تشفير في Python
daphne==3.0.2  # خادم ASGI للتطبيقات في Python
Django==4.0.1  # إطار عمل لتطوير تطبيقات الويب بلغة Python
hyperlink==21.0.0  # مكتبة للتعامل مع الروابط (URLs)
idna==3.3  # مكتبة لتعامل مع الترميز والمقاييس الخاصة بالإنترنت
incremental==21.3.0  # مكتبة مساعدة لتطوير الإصدارات التدريجية
pyasn1==0.4.8  # مكتبة لبروتوكولات ASN.1 في Python
pyasn1-modules==0.2.8  # مكتبة إضافية لبروتوكولات ASN.1
pycparser==2.21  # مكتبة لتحليل شفرة C في Python
pyOpenSSL==21.0.0  # مكتبة لـ OpenSSL في Python
service-identity==21.1.0  # مكتبة لتوفير الهوية للخدمات في Python
six==1.16.0  # مكتبة تتيح دعم الإصدارات القديمة والجديدة من Python
sqlparse==0.4.2  # مكتبة لتحليل استعلامات SQL
Twisted==21.7.0  # إطار عمل لتطوير الشبكات في Python
txaio==21.2.1  # مكتبة دعم للمكتبات المتزامنة في Python
typing_extensions==4.0.1  # مكتبة لتوفير أنواع البيانات المحدثة في Python
tzdata==2021.5  # بيانات المناطق الزمنية
zope.interface==5.4.0  # مكتبة لواجهات البرمجة في Python