:host {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

:host(:hover) {
    color: inherit;
    box-shadow: 0px 3px 30px 1px rgba(currentColor, 0.2);
    transition: all 0.1s ease-in-out;
}

::slotted(span) {
    display: block;
    border-radius: 0.25rem;
    background-color: #2d00f3;
    color: rgb(255, 255, 255);
    transition: all 0.1s ease-in-out;
    width: calc(100% - 1rem);
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
}

::slotted(span:hover) {
    background-color: #4811ff;
}